<form [formGroup]="accountForm"
      class="w-full h-full justify-center items-center p-10 md:p-20 bg-mhc-background flex-col gap-7 inline-flex">
  <div class="p-8 bg-mhc-dark rounded-2xl flex-col gap-7 flex max-w-screen-sm w-full">
    <div class="flex-col gap-4 flex">
      <div class="text-center text-white text-5xl font-bold font-serif">Account</div>
      <div class="text-center">
        <span
          class="text-mhc-background text-base font-bold">Here you can view and edit your account information!</span>
      </div>
    </div>
    <input
      class="btn btn-lg bg-mhc-background flex-col justify-center items-start gap-2.5 flex text-mhc-dark text-base font-semibold cursor-text outline-0"
      formControlName="firstName" id="firstName" placeholder="First Name" required type="text">
    <input
      class="btn btn-lg bg-mhc-background flex-col justify-center items-start gap-2.5 flex text-mhc-dark text-base font-semibold cursor-text outline-0"
      formControlName="lastName" id="lastName" placeholder="Last Name" required type="text">
    <input
      class="btn btn-lg bg-mhc-background flex-col justify-center items-start gap-2.5 flex text-mhc-dark text-base font-semibold cursor-text outline-0"
      formControlName="email" id="email" placeholder="Email" required type="email">
    <label class="flex flex-row justify-center items-center">
      <input
        type="checkbox"
        formControlName="emailOptIn" id="emailOptIn">
      <span class="text-mhc-background text-base font-semibold pl-3">I would like to receive email updates</span>
    </label>
    <button type="button" (click)="saveChanges()" class="btn btn-lg btn-red flex-col gap-2.5 flex items-center">
      <span class="text-mhc-background text-base font-semibold">Save Changes</span>
    </button>
  </div>
</form>
