<div class="w-full px-10 py-5 bg-mhc-dark gap-2.5 flex flex-col md:flex-row md:justify-between md:items-start md:px-20">
  <a class="btn btn-background justify-center items-center md:flex hidden" routerLink="/">
    <div class="text-center text-lg font-semibold">Home</div>
  </a>
  <a class="btn btn-background justify-center items-center flex md:hidden" (click)="toggleMenu()">
    <fa-icon [icon]="menuIcon"></fa-icon>
  </a>
  <div class="transition-all duration-200 flex-col gap-2.5 md:flex-row md:justify-start md:items-start md:gap-7 md:flex" [ngClass]="isMenuOpen ? 'flex' : 'hidden'">
    <a class="btn btn-background justify-center items-center flex md:hidden" routerLink="/">
      <div class="text-center text-lg font-semibold">Home</div>
    </a>
    <a *ngIf="isSuperuser" class="btn btn-background" routerLink="/create">
      <div class="text-center text-lg font-semibold">Create Post</div>
    </a>
    <a *ngIf="!isLoggedIn" class="btn btn-background" routerLink="/login">
      <div class="text-center text-lg font-semibold">Login</div>
    </a>
    <a *ngIf="!isLoggedIn" class="btn btn-dark bg-transparent" routerLink="/register">
      <div class="text-center text-lg font-semibold">Register</div>
    </a>
    <a *ngIf="isLoggedIn" class="btn btn-background" routerLink="/account">
      <div class="text-center text-lg font-semibold">Account</div>
    </a>
    <button (click)="logout()" *ngIf="isLoggedIn" class="btn btn-dark bg-transparent">
      <span class="text-center text-lg font-semibold">Logout</span>
    </button>
  </div>
</div>
