<div class="w-full md:h-full py-20 px-10 justify-center bg-mhc-dark flex-col items-center gap-12
            inline-flex md:items-start md:min-h-full md:py-0 bg-blend-multiply md:bg-blend-normal
            transition-all duration-200 md:px-10"
     style="background-image: url('assets/home_background.png'); background-size: cover; background-position: center; background-attachment: fixed">
  <div class="w-full">
    <div class="text-mhc-background font-serif text-4xl md:text-6xl font-bold text-center xl:text-8xl md:text-left">
      MY<br/>HUSBAND<br/>COOKS
    </div>
  </div>
  <div class="w-full md:w-1/3 text-mhc-background text-sm md:text-base font-normal text-center md:text-left xl:text-xl">
    Welcome to My Husband Cooks, your gateway to a world of
    deliciously crafted, home-cooked meals. Here, you'll find a treasure trove of recipes from Don's personal kitchen,
    honed over years of cooking with love and passion. Get ready to embark on a culinary journey that promises not just
    mouthwatering meals, but also a dash of joy and a sprinkle of memories in every bite.
  </div>
  <div class="gap-7 inline-flex justify-center items-center md:justify-start md:items-start">
    <a class="btn btn-lg btn-background" href="https://buy.stripe.com/aEU6pieS703Jg3C8wy" target="_blank">
      <div class="text-center text-lg font-semibold">Order Now</div>
    </a>
    <a class="btn btn-lg btn-dark bg-transparent" href="#blog">
      <div class="text-center text-lg font-semibold">Read Blog</div>
    </a>
  </div>
</div>
<app-post-list id="blog"></app-post-list>
<app-footer></app-footer>
