<div class="w-full h-full min-h-full px-20 justify-center bg-mhc-dark flex-col items-start gap-12 inline-flex"
      style="background-image: url('assets/home_background.png'); background-size: cover; background-position: center; background-attachment: fixed">
  <div class="w-full">
    <div class="text-mhc-background font-serif text-8xl font-bold">MY<br/>HUSBAND<br/>COOKS</div>
  </div>
  <div class="w-1/3 text-mhc-background text-xl font-normal">Welcome to My Husband Cooks, your gateway to a world of
    deliciously crafted, home-cooked meals. Here, you'll find a treasure trove of recipes from Don's personal kitchen,
    honed over years of cooking with love and passion. Get ready to embark on a culinary journey that promises not just
    mouthwatering meals, but also a dash of joy and a sprinkle of memories in every bite.
  </div>
  <div class="justify-start items-start gap-7 inline-flex">
    <a href="https://buy.stripe.com/aEU6pieS703Jg3C8wy" target="_blank" class="btn btn-lg btn-background">
      <div class="text-center text-lg font-semibold">Order Now</div>
    </a>
    <a href="#blog" class="btn btn-lg btn-dark bg-transparent">
      <div class="text-center text-lg font-semibold">Read Blog</div>
    </a>
  </div>
</div>
<app-post-list id="blog"></app-post-list>
<app-footer></app-footer>
